<.live_component module={BrewDashWeb.Admin.MenuComponent} id="menu" />

<div class="container">
  <p class="alert alert-info" role="alert"><%= live_flash(@flash, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= live_flash(@flash, :error) %></p>

  <h2>Brew Dash Admin</h2>
</div>