<div class="container-fluid">
  <div class="row">
    <%= for brew <- @brew_sessions do %>
      <div class="col mt-5">
        <%= live_component BrewDashWeb.BrewCardComponent, id: brew.id, brew: brew %>
      </div>
    <% end %>
  </div>
</div>
