<div class="container mt-4">
  <div class="row g-2">
    <%= for brew <- @brew_sessions do %>
      <div class="col">
        <%= live_component BrewDashWeb.BrewCardComponent, id: brew.id, brew: brew %>
      </div>
    <% end %>
  </div>
</div>
