<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Brew Dash") %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="dark:bg-black dark:text-white scrollbar-hide">
    <%= @inner_content %>
  </body>
</html>
