/* This file is for your main admin css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Theme */
a {
  @apply text-blue-600 hover:text-pink-400 visited:text-blue-900
}

a.button {
  @apply inline-flex items-center h-6 px-4 m-2 text-sm visited:text-gray-100 text-gray-100 hover:text-pink-400 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800
}

button, button[type="submit"] {
  @apply inline-flex items-center h-6 px-4 m-2 text-sm visited:text-gray-100 text-gray-100 hover:text-pink-400 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800
}

h2 {
  @apply text-xl
}

h3 {
  @apply text-lg
}

h4 {
  @apply text-sm
}

textarea {
  @apply appearance-none block w-full bg-white text-gray-700 border border-gray-500 rounded-sm py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500
}

input, input[type="text"], input[type] {
  @apply appearance-none block w-full bg-white text-gray-700 border border-gray-500 rounded-sm py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500
}

select {
  @apply rounded-sm
}

label {
  @apply block text-gray-700 text-sm font-bold mb-2
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
